<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Create List</title>
        <link rel="stylesheet" type="text/css" href="static/styles.css">
    </head>
    <body>
        <div class="title">
            <a href="/" class="titlelink">Wegmans Wear</a>
        </div>
        <div class="nav">
            <div class="links">
                <a href="create" class="navlink">Create a Shopping List</a>
                <a href="" class="navlink">My Shopping Lists</a>
            </div>
        </div>

        <div class="content">
            <div class="sectiontitle">
                <input type="text" class="shoppinglistname" id="shoppinglistname" name="shoppinglistname" value="New list">
            </div>
            <hr>

            <div class="items">
                <div class="item">
                    
                    <hr>
                </div>
            </div>
            <button class="additem" type="button">+</button>
        </div>
    </body>
</html>
