<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Create List</title>
        <link rel="stylesheet" type="text/css" href="static/styles.css">
        <script>
            counter = 1;

            function addEntry() {
                counter++;
                var itembinder = document.createElement("DIV");
                var item = document.createElement("DIV");
                var searchresults = document.createElement("DIV");
                var itemleft = document.createElement("DIV");
                var itemright = document.createElement("DIV");

                var searchInput = document.createElement("INPUT");

                var searchButton = document.createElement("BUTTON");
                var deleteB = document.createElement("BUTTON");

                var hr = document.createElement("HR");

                searchButton.innerHTML = "Search";
                deleteB.innerHTML = "🗑️";

                itembinder.setAttribute("class", "itembinder");
                itembinder.setAttribute("id", counter);

                item.setAttribute("class", "item");

                itemleft.setAttribute("class", "itemleft");

                searchInput.setAttribute("class", "search");
                searchInput.setAttribute("type", "text");
                searchInput.setAttribute("id", "search");
                searchInput.setAttribute("name", "search");
                searchInput.setAttribute("placeholder", "Search here");

                searchButton.setAttribute("class", "search");
                searchButton.setAttribute("type", "button");

                deleteB.setAttribute("class", "delete");
                deleteB.setAttribute("type", "button");
                deleteB.setAttribute("onClick", "delItem(this)");

                itemright.setAttribute("class", "itemright");

                searchresults.setAttribute("class", "searchresults");

                itemright.appendChild(searchButton);
                itemright.appendChild(deleteB);

                itemleft.appendChild(searchInput);

                item.appendChild(itemleft);
                item.appendChild(itemright);

                itembinder.appendChild(item);
                itembinder.appendChild(searchresults);
                itembinder.appendChild(hr);

                document.getElementById("items").appendChild(itembinder);
            }

            function delItem(e) {
                e.parentNode.parentNode.parentNode.parentNode.removeChild(e.parentNode.parentNode.parentNode);
            }
        </script>
    </head>
    <body>
        <div class="title">
            <a href="/" class="titlelink">Wegmans Wear</a>
        </div>
        <div class="nav">
            <div class="links">
                <a href="create" class="navlink">Create a Shopping List</a>
                <a href="lists" class="navlink">My Shopping Lists</a>
            </div>
        </div>

        <div class="content">
            <div class="sectiontitle">
                <input type="text" class="shoppinglistname" id="shoppinglistname" name="shoppinglistname" value="New list">
            </div>
            <hr>

            <div class="items" id="items">
                <div class="itembinder" id="1">
                    <div class="item">
                        <div class="itemleft">
                            <input type="text" class="search" id="search" name="search" placeholder="Search here">
                        </div>
                        <div class="itemright">
                            <button class="search" type="button">Search</button>
                        </div>
                    </div>
                    <div class="searchresults">

                    </div>
                    <hr>
                </div>
            </div>
            <button class="additem" type="button" onclick="addEntry()">Add entry</button>
        </div>
    </body>
</html>
