<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Wegmans Wear</title>
        <link rel="stylesheet" type="text/css" href="static/styles.css">
    </head>
    <body>
        <div class="title">
            <a href="/" class="titlelink">Wegmans Wear</a>
        </div>
        <div class="nav">
            <div class="links">
                <a href="create" class="navlink">Create a Shopping List</a>
                <a href="" class="navlink">My Shopping Lists</a>
            </div>
        </div>

        <div class="content">
            <a class="button" href="/login">Google Login</a>
        </div>
    </body>
</html>
