<!DOCTYPE html>
<html lang="en" class="background">
    <head>
        <meta charset="UTF-8">
        <title>Wegmans Wear</title>
        <link rel="stylesheet" type="text/css" href="static/styles.css">
    </head>
    <body>
        <div class="indextitle">
            <span class="maintitle">Wegmans Wear</span>
        </div>
        <div class="loginbox">
            <a class="button" href="/login">Google Login</a>
            <button onclick="location.">Google Login</button>
        </div>
    </body>
</html>
