<!DOCTYPE html>
<html lang="en" class="background">
    <head>
        <meta charset="UTF-8">
        <title>Wegmans Wear</title>
        <link rel="stylesheet" type="text/css" href="static/styles.css">
    </head>
    <body>
        <div class="indextitle fade-in">
            <span class="maintitle">Wegmans Wear</span>
        </div>
        <div class="loginbox fade-in" style="margin-top:100px;">
            <p>
                Make grocery shopping quicker and easier. Wegmans Wear puts all of your favorite food items on your
                watch so that you don't forget them on your next visit!
            </p>
            <button class="login" onclick="window.location.replace('/login');" style="margin-bottom:50px;">
                <img src="https://img.icons8.com/clouds/100/000000/google-logo.png">
                Google Login
            </button>
        </div>
    </body>
</html>
